/******************************************************************
Stylesheet: Button Styles
*********************/

%btn {
    font-size: 1.3em;
    border-width: $button_border_width;
    border-radius: $button_border_radius;
    letter-spacing: $button_spacing;
    display: inline-block;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.3em 1em;
    line-height: 1.7em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    
    @if $button_use_icon == "yes" and $button_icon_placement == "right" and not $button_icon_on_hover == "yes" {
        padding-right: 2em;
        padding-left: .7em;
    }
    
    @if $button_use_icon == "yes" and $button_icon_placement == "left" and not $button_icon_on_hover == "yes" {
        padding-right: .7em;
        padding-left: 2em;
    }

    &:hover, &:focus {
        border-radius: $button_border_radius_hover;
        letter-spacing: $button_spacing_hover;
        text-decoration: none;
        outline: none;
        
        @if $button_use_icon == "yes" and $button_icon_placement == "right" {
            padding-right: 2em;
            padding-left: .7em;
        }

        @if $button_use_icon == "yes" and $button_icon_placement == "left" {
            padding-right: .7em;
            padding-left: 2em;
        }
    }
    
    &:after,
    &:before {
        content: $button_icon_content;
        font-family: ETmodules!important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        text-transform: none;
        speak: none;
        position: absolute;
        opacity: 0;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
    }
    
    &:before {
        margin-left: -1em;
    }
    
    &:after {
        margin-right: -1em;
    }
    
    @if $button_use_icon == "yes" and $button_icon_placement == "right" and not $button_icon_on_hover == "yes" {
        &:after {
            opacity: 1;
        }
    }
    @if $button_use_icon == "yes" and $button_icon_placement == "left" and not $button_icon_on_hover == "yes" {
        &:before {
            opacity: 1;
        }
    }

}

.button {
    @extend %btn;
    background: $button_bg_color;
    color: $button_text_color;
    border-color: $button_border_color;
    
    &:before,
    &:after {
        color: $button_icon_color;
        font-size: 1.6em;
    }

    &:hover,
    &:focus {
        background: $button_bg_color_hover;
        color: $button_text_color_hover;
        border-color: $button_border_color_hover;
        
        @if $button_use_icon == "yes" and $button_icon_placement == "right" {
            &:after {
                opacity: 1;
            }
        }
        @if $button_use_icon == "yes" and $button_icon_placement == "left" {
            &:before {
                opacity: 1;
            }
        }
    }
}

.button-large {
    @extend .button;
    font-size: $button_text_size;
    
    &:before,
    &:after {
        font-size: $button_icon_size;
    }
}

// Fix for divi buttons
.et_pb_contact_form .et_pb_contact_submit,
.reply-container .comment-reply-link,
.comment-form .form-submit .et_pb_button {
    color: $button_text_color;
    
    &:hover {
        color: $button_text_color_hover;
    }
}